<html>
	<head>
		<title>GuvSinc</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<style>
		#post{
			background-color: orange;
		}
	</style>
	</head>
	<body>
		<div class="ui attached stackable menu">
  			<div class="ui container">
    			<a class="item" href="/"><i class="home icon"></i> GuvSync</a>
    			<a class="item" href="/blogs"><i class="grid layout icon"></i> Browse</a>
    			<a class="item"><i class="mail icon"></i> About Us</a>
    			<div class="right item">
      				<a class="item" href="/">Login</a>
					<a class="item" href="/">Sign Up</a>
    			</div>
  			</div>
		</div>
		
		
		
	