<%- include("partials/header.ejs") %>
<div class="ui center aligned container">
	<h1>Welcome to GuvSinc!</h1>
	<h3>A social network to connect students with their student governments</h3>
	<a href="/blogs">VIEW ALL BLOGS</a>
</div>
<%- include("partials/footer.ejs") %>